.banner {
  padding-top: 7em;
  padding-bottom: 7em;
  border-bottom: 4px solid #69b9ff;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(46, 157, 255, 0.2)),
      to(rgba(46, 157, 255, 0.09))
    ),
    url("../images/header.jpg");
  /* background-position: 0% 0%, 50% 50%; */
  background-size: auto, cover;
  background-position: center;
  text-align: center;
}

.bg-vital-ocean {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}
.bg-kale-salad {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
.bg-sea-salt {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.bg00 {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.bg00a {
  background: linear-gradient(90deg, #dce5f5 0%, #d9e7ff 100%);
}
.bg00r {
  background: linear-gradient(90deg, #d9e7ff 0%, #e3ffe7 100%);
}
.bg01 {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
.bg01r {
  background: linear-gradient(90deg, #92fe9d 0%, #00c9ff 100%);
}
.bg02 {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
.bg02r {
  background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
}
.bg03 {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}
.bg03r {
  background: linear-gradient(90deg, #000851 0%, #1cb5e0 100%);
}
.bg04 {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
.bg05 {
  background: linear-gradient(90deg, #182848 0%, #4b6cb7 100%);
}
.bg06 {
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
}

.bg07 {
  background: linear-gradient(90deg, #ffffff 0%, #e4ecfa 100%);
}
.bg07r {
  background: linear-gradient(90deg, #e4ecfa 0%, #ffffff 100%);
}

.fs-xxl {
  font-size: 10em;
}
.fs-xl {
  font-size: 5em;
}
.fs-lg {
  font-size: 2.5em;
}

.p-lg {
  padding: 5rem;
}
.p-xl {
  padding: 8rem;
}
.p-xxl {
  padding: 12rem;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 576px) {
  .fs-lg {
    font-size: 1.2em;
  }
  .fs-xl {
    font-size: 3em;
  }
  .fs-xxl {
    font-size: 6em;
  }

  .p-lg {
    padding: 1.4rem;
  }
  .p-xl {
    padding: 2.2rem;
  }
  .p-xxl {
    padding: 4rem;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}

.bg-animated {
  background: linear-gradient(270deg, #00c9ff, #92fe9d);
  background-size: 400% 400%;

  -webkit-animation: bg-animation 5s ease infinite;
  -moz-animation: bg-animation 5s ease infinite;
  -o-animation: bg-animation 5s ease infinite;
  animation: bg-animation 5s ease infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-light-green {
  color: #e3ffe7;
}
.text-light-blue {
  color: #d9e7ff;
}
.text-light-blue-a {
  color: #93b8f7;
  line-height: 1;
}

.bg-light-green {
  background-color: #e3ffe7;
}
.bg-light-blue {
  background-color: #e4ecfa;
}
.bg-light-blue-a {
  background-color: #93b8f7;
}

.border-top {
  border-top: 50px solid rgb(218, 227, 243) !important;
}

.border-top-white {
  border-top: 50px solid #fff !important;
}

.border-top-dark {
  border-top: 50px solid rgb(218, 227, 243) !important;
}

.border-left-blue {
  border-left: 2px solid #00c9ff !important;
}

.fs-65 {
  font-size: 0.7rem;
}
.fs-7 {
  font-size: 0.5rem;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 34px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 20px;
}

.nav-link {
  color: #000 !important;
}

.accordion-item {
  border-color: gray;
}
